In [1]:
import pandas as pd
import os
import numpy as np
import matplotlib.pyplot as plt
import json
import datetime as dt
from bs4 import BeautifulSoup as bs
from urllib.request import urlopen as uReq
import requests
from pprint import pprint

In [2]:
midas18 = ['neil-shen','bill-gurley','jim-goetz','carl-gordon','robert-nelsen',
          'mary-meeker','peter-fenton','jp-gan','douglas-leone','brian-singerman',
          'eric-paley','mike-maples-jr','kui-zhou','roelof-botha','byron-deeter',
          'scott-sandell','rob-hayes','dennis-phelps','josh-kopelman','hans-tung',
          'neeraj-agrawal','joe-lonsdale','xiaojun-li','xiao-ping-xu','jeff-jordan',
          'tony-florence','steve-anderson','bryan-roberts','john-doerr','sameer-gandhi',
          'rebecca-lynn','alfred-lin','anton-levy','scott-shleifer','vinod-khosla',
          'deven-parekh','shailendra-singh','marc-andreessen','jeremy-liew','mitch-lasky',
          'jeremy-levine','allen-zhu','lee-fixel','jim-tananbaum','ryan-sweeney',
          'ravi-mhatre','hemant-taneja','jonathan-silverstein','david-cowan','matt-cohler',
          'andrew-braccia','yuri-milner','aydin-senkut','jeff-horing','ann-miura-ko',
          'gaurav-garg','jim-breyer','david-weiden','james-mi','frank-rotman',
          'erhai-liu','beth-seidenberg','fred-wilson','hurst-lin','jeff-lieberman',
          'klaus-hommels','peter-thiel','ben-horowitz','joel-cutler','bryan-schreier',
          'todd-chaffee','kevin-comolli','yi-cao','jenny-lee','michael-eisenberg',
          'david-yuan','kirsten-green','quan-zhou','roger-ehrenberg','navin-chaddha',
          'ron-conway','peter-levine','neil-rimer','david-chao','randy-glein',
          'ted-schlein','jules-maltz','mamoon-hamid','theresia-gouw','steven-ji',
          'rich-wong','asheem-chandna','jeff-crowe','salil-deshpande','sonali-de-rycker',
          'young-guo','aileen-lee','ping-li','john-vrionis','jan-hammer']

others = ['chris-sacca','paul-madera','danny-rimer','promod-haque','david-sze',
          'reid-hoffman','jixun-foo','harry-weller','ann-lamont','michael-goguen',
          'charles-moldow','bijan-sabet','kevin-efrusy', 'ken-howery','sandy-miller',
          'george-zachary','richard-liu','george-bischof','rob-ward','josh-stein',
          'bruce-golden','shervin-pishevar','david-lee','izhar-armony','venky-ganesan',
          'suyang-zhang','satish-dharmaraj','shawn-carolan','peter-wagner','mike-volpi',
          'ben-nye','gordon-ritter','michael-dearing','michael-moritz','aneel-bhusri','bill-trenchard',
          'dave-mcclure','jeff-clavier','david-fialkow','stuart-peterson','jason-green',
          'scott-raney','ben-holmes','forest-baskett','james-topper','stephen-jurvetson']

In [3]:
# age = []
# notable_deal = []
# residence = []
# citizenship = []
# marital_status = []
education = []

url = 'https://www.forbes.com/profile/'

for name in midas18:
    response = requests.get(url+name)
    soup = bs(response.content, 'html.parser')
    span = soup.findAll('span', {'class':'profile-list__item__text'})
#     ages = span[1].text
#     age.append(ages)
#     deal = span[-5].text
#     notable_deal.append(deal)
#     try:
#         res = span[-4].text
#     except Exception:
#         pass
#     residence.append(res)
#     try:
#         cit = span[-3].text
#     except Exception:
#         pass
#     citizenship.append(cit)
#     try:
#         married = span[-2].text
#     except Exception:
#         pass
#     marital_status.append(married)
    try:
        edu = span[-1].text
    except Exception:
        print('N/A')
    education.append(edu)

In [4]:
education_others = []

for name in others:
    response = requests.get(url+name)
    soup = bs(response.content, 'html.parser')
    span = soup.findAll('span', {'class':'profile-list__item__text'})
    
    try:
        edu = span[-1].text
    except Exception:
        print('N/A')
    education_others.append(edu)

N/A

In [5]:
data = [('Name', midas18),
       ('Education', education)]


df = pd.DataFrame.from_items(data)
df.head()

            Name                                          Education
0      neil-shen  Bachelor of Arts/Science, Shanghai Jiaotong Un...
1    bill-gurley  Master of Business Administration, Red McCombs...
2      jim-goetz  Bachelor of Arts/Science, University of Cincin...
3    carl-gordon  Bachelor of Arts/Science, Harvard University; ...
4  robert-nelsen  Bachelor of Arts/Science, University of Puget ...

In [6]:
data_others = [('Name', others),
       ('Education', education_others)]


df_others = pd.DataFrame.from_items(data_others)
df_others.head()

           Name                                          Education
0   chris-sacca  Bachelor of Arts/Science, Georgetown Universit...
1   paul-madera  Bachelor of Arts/Science, United States Air Fo...
2   danny-rimer       Bachelor of Arts/Science, Harvard University
3  promod-haque  Ph.D, Northwestern University; Master of Busin...
4     david-sze  Bachelor of Arts/Science, Yale University; Mas...

In [7]:
df = pd.concat([df, df_others], ignore_index=True)
df

                  Name                                          Education
0            neil-shen  Bachelor of Arts/Science, Shanghai Jiaotong Un...
1          bill-gurley  Master of Business Administration, Red McCombs...
2            jim-goetz  Bachelor of Arts/Science, University of Cincin...
3          carl-gordon  Bachelor of Arts/Science, Harvard University; ...
4        robert-nelsen  Bachelor of Arts/Science, University of Puget ...
5          mary-meeker  Bachelor of Arts/Science, DePauw University; M...
6         peter-fenton  Bachelor of Arts/Science, Stanford University;...
7               jp-gan  Master of Business Administration, University ...
8        douglas-leone  Bachelor of Arts/Science, Cornell University; ...
9      brian-singerman      Bachelor of Arts/Science, Stanford University
10          eric-paley  Master of Business Administration, Harvard Bus...
11      mike-maples-jr  Bachelor of Arts/Science, Stanford University;...
12            kui-zhou  Bachelor of Arts/Science, Wuhan University of ...
13        roelof-botha  Bachelor of Arts/Science, University of Cape T...
14        byron-deeter  Bachelor of Arts/Science, University of Califo...
15       scott-sandell  Bachelor of Arts/Science, Dartmouth College; M...
16           rob-hayes  Bachelor of Arts/Science, University of Califo...
17       dennis-phelps        Bachelor of Arts/Science, Dartmouth College
18       josh-kopelman  Bachelor of Arts/Science, University of Pennsy...
19           hans-tung      Bachelor of Arts/Science, Stanford University
20      neeraj-agrawal  Master of Business Administration, Harvard Bus...
21        joe-lonsdale      Bachelor of Arts/Science, Stanford University
22          xiaojun-li  Master of Business Administration, Wharton Sch...
23        xiao-ping-xu  Master of Arts, University of Saskatchewan; Ba...
24         jeff-jordan  Bachelor of Arts/Science, Amherst College; Mas...
25       tony-florence                                      United States
26      steve-anderson  Bachelor of Arts/Science, University of Washin...
27       bryan-roberts  Bachelor of Arts/Science, Dartmouth College; D...
28          john-doerr  Bachelor of Arts/Science, Rice University; Mas...
29       sameer-gandhi  Master of Business Administration, Stanford Gr...
..                 ...                                                ...
116        richard-liu  Master of Business Administration, China Europ...
117     george-bischof  Bachelor of Arts / Science, Stanford Universit...
118           rob-ward  Bachelor of Arts / Science, Williams College; ...
119         josh-stein  Bachelor of Arts / Science, Dartmouth College;...
120       bruce-golden  Bachelor of Arts / Science, Columbia Universit...
121   shervin-pishevar  Bachelor of Arts/Science, University of Califo...
122          david-lee  Bachelor of Arts / Science, Johns Hopkins Univ...
123       izhar-armony  Master of Business Administration, Wharton Sch...
124      venky-ganesan  Bachelor of Arts / Science, Reed College; Bach...
125       suyang-zhang  Bachelor of Arts / Science, Shanghai Universit...
126   satish-dharmaraj              Master of Science, Clemson University
127      shawn-carolan  Master of Science, University of Illinois at U...
128       peter-wagner  Master of Business Administration, Harvard Bus...
129         mike-volpi  Bachelor of Arts / Science, Stanford Universit...
130            ben-nye  Bachelor of Arts / Science, Harvard University...
131      gordon-ritter   Bachelor of Arts / Science, Princeton University
132    michael-dearing  Bachelor of Arts / Science, Brown University; ...
133     michael-moritz  Bachelor of Arts/Science, Christ Church, Oxfor...
134       aneel-bhusri  Bachelor of Arts/Science, Brown University; Ma...
135     bill-trenchard       Bachelor of Arts/Science, Cornell University
136       dave-mcclure  Bachelor of Arts/Science, Johns Hopkins Univer...
137       jeff-clavier      Master of Science, Universite Paris Descartes
138      david-fialkow  Bachelor of Arts/Science, Colgate University; ...
139    stuart-peterson  Bachelor of Arts/Science, University of Califo...
140        jason-green  Bachelor of Arts/Science, University of Califo...
141        scott-raney  Bachelor of Science in Engineering, Duke Unive...
142         ben-holmes               Master of Science, Oxford University
143     forest-baskett  Bachelor of Arts / Science, Rice University; D...
144       james-topper  Bachelor of Arts / Science, University of Mich...
145  stephen-jurvetson  Bachelor of Arts / Science, Stanford Universit...

[146 rows x 2 columns]

In [8]:
names = df['Name'].tolist()
clean_names = []

for name in names:
    new = name.replace('-', ' ')
    capital = new.title()
    clean_names.append(capital)

clean_names[:5]

['Neil Shen', 'Bill Gurley', 'Jim Goetz', 'Carl Gordon', 'Robert Nelsen']

In [9]:
df['Undergraduate'] = df['Education'].str.split(';')

In [10]:
eduList = df['Undergraduate']

In [11]:
undergradList = []

In [12]:
for undergrad in eduList:
    education = undergrad[0]
    undergradList.append(education)

In [13]:
mastersList = []

In [14]:
for masters in eduList:
    education = masters[-1]
    mastersList.append(education)

In [15]:
df['Name'] = clean_names
df.head()

,Name,Education,Undergraduate
0,Neil Shen,"Bachelor of Arts/Science, Shanghai Jiaotong Un...","[Bachelor of Arts/Science, Shanghai Jiaotong U..."
1,Bill Gurley,"Master of Business Administration, Red McCombs...","[Master of Business Administration, Red McComb..."
2,Jim Goetz,"Bachelor of Arts/Science, University of Cincin...","[Bachelor of Arts/Science, University of Cinci..."
3,Carl Gordon,"Bachelor of Arts/Science, Harvard University; ...","[Bachelor of Arts/Science, Harvard University,..."
4,Robert Nelsen,"Bachelor of Arts/Science, University of Puget ...","[Bachelor of Arts/Science, University of Puget..."

In [16]:
df['Undergraduate'] = undergradList
df.head()

,Name,Education,Undergraduate
0,Neil Shen,"Bachelor of Arts/Science, Shanghai Jiaotong Un...","Bachelor of Arts/Science, Shanghai Jiaotong Un..."
1,Bill Gurley,"Master of Business Administration, Red McCombs...","Master of Business Administration, Red McCombs..."
2,Jim Goetz,"Bachelor of Arts/Science, University of Cincin...","Bachelor of Arts/Science, University of Cincin..."
3,Carl Gordon,"Bachelor of Arts/Science, Harvard University; ...","Bachelor of Arts/Science, Harvard University"
4,Robert Nelsen,"Bachelor of Arts/Science, University of Puget ...","Bachelor of Arts/Science, University of Puget ..."

In [17]:
cleanMasters = []

for space in mastersList:
    new = space.lstrip()
    cleanMasters.append(new)

In [18]:
df["Master's"] = cleanMasters
df.head()

,Name,Education,Undergraduate,Master's
0,Neil Shen,"Bachelor of Arts/Science, Shanghai Jiaotong Un...","Bachelor of Arts/Science, Shanghai Jiaotong Un...","Master of Arts, Yale University"
1,Bill Gurley,"Master of Business Administration, Red McCombs...","Master of Business Administration, Red McCombs...","Bachelor of Arts/Science, University of Florida"
2,Jim Goetz,"Bachelor of Arts/Science, University of Cincin...","Bachelor of Arts/Science, University of Cincin...","Master of Science, Stanford University"
3,Carl Gordon,"Bachelor of Arts/Science, Harvard University; ...","Bachelor of Arts/Science, Harvard University","Ph.D, Massachusetts Institute of Technology"
4,Robert Nelsen,"Bachelor of Arts/Science, University of Puget ...","Bachelor of Arts/Science, University of Puget ...","Master of Business Administration, University ..."

In [ ]:
# bachelorsCount = df['Undergraduate'].value_counts()
# bachelorsCount

In [ ]:
# mastersCount = df["Master's"].value_counts()
# mastersCount

In [ ]:
# df.to_csv("Midas_List_Analysis.csv")

In [19]:
final_df = pd.read_csv("Midas_List_Analysis_Clean.csv")
final_df

,Unnamed: 0,Name,Education,Undergraduate,Master's
0,0,Neil Shen,"Bachelor of Arts/Science, Shanghai Jiaotong Un...","Bachelor of Arts/Science, Shanghai Jiaotong Un...","Master of Arts, Yale University"
1,1,Bill Gurley,"Bachelor of Arts/Science, University of Florid...","Bachelor of Arts/Science, University of Florida","Master of Business Administration, Red McCombs..."
2,2,Jim Goetz,"Bachelor of Arts/Science, University of Cincin...","Bachelor of Arts/Science, University of Cincin...","Master of Science, Stanford University"
3,3,Carl Gordon,"Bachelor of Arts/Science, Harvard University; ...","Bachelor of Arts/Science, Harvard University","Ph.D, Massachusetts Institute of Technology"
4,4,Robert Nelsen,"Bachelor of Arts/Science, University of Puget ...","Bachelor of Arts/Science, University of Puget ...","Master of Business Administration, University ..."
5,5,Mary Meeker,"Bachelor of Arts/Science, DePauw University; M...","Bachelor of Arts/Science, DePauw University","Master of Business Administration, Samuel Curt..."
6,6,Peter Fenton,"Bachelor of Arts/Science, Stanford University;...","Bachelor of Arts/Science, Stanford University","Master of Business Administration, Stanford Gr..."
7,7,Jp Gan,"Bachelor of Arts/Science, University of Iowa; ...","Bachelor of Arts/Science, University of Iowa","Master of Business Administration, University ..."
8,8,Douglas Leone,"Bachelor of Arts/Science, Cornell University; ...","Bachelor of Arts/Science, Cornell University","Master of Business Administration, Sloan Schoo..."
9,9,Brian Singerman,"Bachelor of Arts/Science, Stanford University","Bachelor of Arts/Science, Stanford University",NaN
10,10,Eric Paley,"Bachelor of Arts/Science, Dartmouth College; M...","Bachelor of Arts/Science, Dartmouth College","Master of Business Administration, Harvard Bus..."
11,11,Mike Maples Jr,"Bachelor of Arts/Science, Stanford University;...","Bachelor of Arts/Science, Stanford University","Master of Business Administration, Harvard Bus..."
12,12,Kui Zhou,"Bachelor of Arts/Science, Wuhan University of ...","Bachelor of Arts/Science, Wuhan University of ...","Master of Business Administration, Tsinghua Un..."
13,13,Roelof Botha,"Bachelor of Arts/Science, University of Cape T...","Bachelor of Arts/Science, University of Cape Town","Master of Business Administration, Stanford Un..."
14,14,Byron Deeter,"Bachelor of Arts/Science, University of Califo...","Bachelor of Arts/Science, University of Califo...",NaN
15,15,Scott Sandell,"Bachelor of Arts/Science, Dartmouth College; M...","Bachelor of Arts/Science, Dartmouth College","Master of Business Administration, Stanford Gr..."
16,16,Rob Hayes,"Bachelor of Arts/Science, University of Califo...","Bachelor of Arts/Science, University of Califo...","Master of Business Administration, Columbia Bu..."
17,17,Dennis Phelps,"Bachelor of Arts/Science, Dartmouth College","Bachelor of Arts/Science, Dartmouth College",NaN
18,18,Josh Kopelman,"Bachelor of Arts/Science, University of Pennsy...","Bachelor of Arts/Science, University of Pennsy...",NaN
19,19,Hans Tung,"Bachelor of Arts/Science, Stanford University;...","Bachelor of Arts/Science, Stanford University","Entrepreneurship, MIT Sloan School of Management"
20,20,Neeraj Agrawal,"Bachelor of Arts/Science, Cornell University; ...","Bachelor of Arts/Science, Cornell University","Master of Business Administration, Harvard Bus..."
21,21,Joe Lonsdale,"Bachelor of Arts/Science, Stanford University","Bachelor of Arts/Science, Stanford University",NaN
22,22,Xiaojun Li,"Bachelor of Arts/Science, University of Scienc...","Bachelor of Arts/Science, University of Scienc...","Master of Business Administration, Wharton School"
23,23,Xiao Ping Xu,"Bachelor of Arts/Science, Central Conservatory...","Bachelor of Arts/Science, Central Conservatory...","Master of Arts, University of Saskatchewan"
24,24,Jeff Jordan,"Bachelor of Arts/Science, Amherst College; Mas...","Bachelor of Arts/Science, Amherst College","Master of Business Administration, Stanford Gr..."
25,25,Tony Florence,"Bachelor of Arts/Science, Economics; Master of...","Bachelor of Arts/Science, Economics","Master of Business Administration, Tuck School..."
26,26,Steve Anderson,"Bachelor of Arts/Science, University of Washin...","Bachelor of Arts/Science, University of Washin...","Master of Business Administration, Stanford Gr..."
27,27,Bryan Roberts,"Bachelor of Arts/Science, Dartmouth College; D...","Bachelor of Arts/Science, Dartmouth College","Doctorate, Harvard University"
28,28,John Doerr,"Bachelor of Arts/Science, Rice University; Mas...","Bachelor of Arts/Science, Rice University","Master of Science, Rice University"
29,29,Sameer Gandhi,"Bachelor of Arts/Science, Massachusetts Instit...","Bachelor of Arts/Science, Massachusetts Instit...","Master of Business Administration, Stanford Gr..."
...,...,...,...,...,...
116,116,Richard Liu,"Bachelor of Arts/Science, University of Scienc...","Bachelor of Arts/Science, University of Scienc...","Master of Business Administration, China Europ..."
117,117,George Bischof,"Bachelor of Arts/Science, Stanford University;...","Bachelor of Arts/Science, Stanford University","Master of Business Administration, Kellogg Sch..."
118,118,Rob Ward,"Bachelor of Arts/Science, Williams College; Ma...","Bachelor of Arts/Science, Williams College","Master of Science, Massachusetts Institute of ..."
119,119,Josh Stein,"Bachelor of Arts/Science, Dartmouth College; M...","Bachelor of Arts/Science, Dartmouth College","Master of Business Administration, Stanford Gr..."
120,120,Bruce Golden,"Bachelor of Arts/Science, Columbia University;...","Bachelor of Arts/Science, Columbia University","Master of Business Administration, Stanford Gr..."
121,121,Shervin Pishevar,"Bachelor of Arts/Science, University of Califo...","Bachelor of Arts/Science, University of Califo...",NaN
122,122,David Lee,"Bachelor of Arts/Science, Johns Hopkins Univer...","Bachelor of Arts/Science, Johns Hopkins Univer...","Doctor of Jurisprudence, New York University"
123,123,Izhar Armony,"Master of Business Administration, Wharton Sch...","Master of Arts, University of Pennsylvania","Master of Business Administration, Wharton School"
124,124,Venky Ganesan,"Bachelor of Arts/Science, Reed College; Bachel...","Bachelor of Arts/Science, Reed College; Bachel...",NaN
125,125,Suyang Zhang,"Bachelor of Arts/Science, Shanghai University;...","Bachelor of Arts/Science, Shanghai University","EMBA, China Europe International Business School"
126,126,Satish Dharmaraj,"Bachelor of Arts/Science, Clemson University; ...","Bachelor of Arts/Science, Clemson University","Master of Business Administration, Harvard Bus..."
127,127,Shawn Carolan,"Bachelor of Science/Master of Science, Univers...","Bachelor of Science/Master of Science, Univers...","Master of Business Administration, Stanford Gr..."
128,128,Peter Wagner,"Bachelor of Arts/Science, Harvard University; ...","Bachelor of Arts/Science, Harvard University","Master of Business Administration, Harvard Bus..."
129,129,Mike Volpi,"Bachelor of Arts/Science, Stanford University;...","Bachelor of Arts/Science, Stanford University","Master of Science, Stanford University; Master..."
130,130,Ben Nye,"Bachelor of Arts/Science, Harvard University; ...","Bachelor of Arts/Science, Harvard University","Master of Business Administration, Harvard Bus..."
131,131,Gordon Ritter,"Bachelor of Arts/Science, Princeton University","Bachelor of Arts/Science, Princeton University",NaN
132,132,Michael Dearing,"Bachelor of Arts/Science, Brown University; Ma...","Bachelor of Arts/Science, Brown University","Master of Business Administration, Harvard Bus..."
133,133,Michael Moritz,"Bachelor of Arts/Science, Christ Church, Oxfor...","Bachelor of Arts/Science, Christ Church, Oxfor...","Master of Business Administration, Wharton School"
134,134,Aneel Bhusri,"Bachelor of Arts/Science, Brown University; Ma...","Bachelor of Arts/Science, Brown University","Master of Business Administration, Stanford Gr..."
135,135,Bill Trenchard,"Bachelor of Arts/Science, Cornell University","Bachelor of Arts/Science, Cornell University",NaN
136,136,Dave Mcclure,"Bachelor of Arts/Science, Johns Hopkins Univer...","Bachelor of Arts/Science, Johns Hopkins Univer...",NaN
137,137,Jeff Clavier,"N/A; Master of Science, Universite Paris Desca...",NaN,"Master of Science, Universite Paris Descartes"
138,138,David Fialkow,"Bachelor of Arts/Science, Colgate University; ...","Bachelor of Arts/Science, Colgate University","Doctor of Jurisprudence, Boston College"
139,139,Stuart Peterson,"Bachelor of Arts/Science, University of Califo...","Bachelor of Arts/Science, University of Califo...","Master of Business Administration, University ..."
140,140,Jason Green,"Bacher of Arts/Science, Dartmouth College; Mas...","Bacher of Arts/Science, Dartmouth College","Master of Business Administration, Harvard Bus..."
141,141,Scott Raney,"Bachelor of Arts/Science, Duke University; Mas...","Bachelor of Arts/Science, Duke University","Master of Business Administration, Harvard Bus..."
142,142,Ben Holmes,"N/A; Master of Science, Oxford University",NaN,"Master of Science, Oxford University"
143,143,Forest Baskett,"Bachelor of Arts/Science, Rice University; Doc...","Bachelor of Arts/Science, Rice University","Doctorate, The University of Texas at Austin"
144,144,James Topper,"Bachelor of Arts/Science, University of Michig...","Bachelor of Arts/Science, University of Michigan","Medical Doctor, Stanford University; Ph.D, Sta..."
145,145,Stephen Jurvetson,"Bachelor of Arts/Science, Stanford University;...","Bachelor of Arts/Science, Stanford University","Master of Science, Stanford University; Master..."

In [20]:
bachelorsCount = final_df['Undergraduate'].value_counts()
bachelorsCount

Bachelor of Arts/Science, Stanford University                                                           16
Bachelor of Arts/Science, Harvard University                                                            10
Bachelor of Arts/Science, Dartmouth College                                                              7
Bachelor of Arts/Science, Cornell University                                                             6
Bachelor of Arts/Science, Yale University                                                                5
Bachelor of Arts/Science, Massachusetts Institute of Technology                                          5
Bachelor of Arts/Science, University of Pennsylvania                                                     4
Bachelor of Arts/Science, Brown University                                                               4
Bachelor of Arts/Science, Wharton School                                                                 3
Bachelor of Arts/Science, University of California, Berkeley                                             3
Bachelor of Arts/Science, Duke University                                                                3
Bachelor of Arts/Science, University of Virginia                                                         2
Bachelor of Arts/Science, Princeton University                                                           2
Bachelor of Arts/Science, Johns Hopkins University                                                       2
Bachelor of Arts/Science, Indian Institute of Technology                                                 2
Bachelor of Arts/Science, Shanghai Jiaotong University                                                   2
Bachelor of Arts/Science, Rice University                                                                2
Bachelor of Arts/Science, University of Science and Technology of China                                  2
Bachelor of Arts/Science, University of Florida                                                          2
Bachelor of Arts/Science, Washington University                                                          2
Bachelor of Arts/Science, Columbia University                                                            2
Bachelor of Arts/Science, Boston University                                                              2
Bachelor of Arts/Science, University of California, Los Angeles                                          2
Bachelor of Arts/Science, University of Michigan                                                         2
Bachelor of Arts/Science, Tsinghua University                                                            1
Bachelor of Arts/Science, University of Science and Technology Beijing                                   1
Bachelor of Arts/Science, DePauw University                                                              1
Bachelor of Arts/Science, Williams College                                                               1
Bachelor of Arts/Science, University of Washington                                                       1
Master of Business Administration, University of Fribourg                                                1
                                                                                                        ..
Bachelor of Arts/Science, Yeshiva University                                                             1
Bachelor of Arts/Science, Christ Church, Oxford University                                               1
Bachelor of Arts/Science, University of Illinois, Urbana-Champaign                                       1
Bachelor of Arts/Science, University of Iowa                                                             1
Bachelor of Science in Engineering, Shanghai Jiaotong University                                         1
Bachelor of Arts/Science, Delhi College of Engineering                                                   1
Bachelor of Arts/Science, University of Minnesota                                                        1
Bachelor of Arts/Science, United States Air Force Academy                                                1
Bachelor of Arts/Science, Case Western Reserve University                                                1
Bachelor of Arts/Science, Shanghai University                                                            1
Bachelor of Arts/Science, Economics                                                                      1
Bacher of Arts/Science, Dartmouth College                                                                1
Bachelor of Science, University of Virginia                                                              1
Bachelor of Arts/Science, Reed College; Bachelor of Arts/Science, California Institute of Technology     1
Bachelor of Arts/Science, Wuhan University of Technology                                                 1
Bachelor of Arts/Science, Notre Dame University                                                          1
Bachelor of Arts/Science, Northwestern University                                                        1
Bachelor of Arts/Science, Amherst College                                                                1
Bachelor of Arts/Science, San Jose State University                                                      1
Bachelor of Arts/Science, Colby College                                                                  1
Bachelor of Science, Massachusetts Institute of Technology                                               1
Bachelor of Arts/Science, Boston College                                                                 1
Bachelor of Arts/Science, University of Cape Town                                                        1
Master of Arts, University of Pennsylvania                                                               1
Bachelor of Arts/Science, Fudan University                                                               1
Bachelor of Arts/Science, University of Cincinnati                                                       1
Master of Science, Peking University                                                                     1
Bachelor of Science/Master of Science, University of Illinois at Urbana                                  1
Bachelor of Arts/Science, Barnard College                                                                1
Bachelor of Arts/Science, Denison University                                                             1
Name: Undergraduate, Length: 76, dtype: int64

In [21]:
mastersCount = final_df["Master's"].value_counts()
mastersCount

Master of Business Administration, Stanford Graduate School of Business                                                             22
Master of Business Administration, Harvard Business School                                                                          20
Master of Business Administration, Wharton School                                                                                    5
Master of Science, Stanford University                                                                                               5
Master of Business Administration, University of Chicago                                                                             3
Master of Business Administration, Kellogg School of Management                                                                      3
Master of Business Administration, Columbia Business School                                                                          2
Master of Science, Stanford University; Master of Business Administration, Stanford Graduate School of Business                      2
Master of Business Administration, Columbia University                                                                               2
Master of Business Administration, China Europe International Business School                                                        2
Doctor of Jurisprudence, Boston College                                                                                              2
Master of Science, Oxford University                                                                                                 2
Master of Science, Massachusetts Institute of Technology                                                                             2
Master of Business Administration, Sloan School of Management                                                                        2
Master of Business Administration, Haas School of Business                                                                           1
Master of Science, Washington University                                                                                             1
Doctorate, The University of Texas at Austin                                                                                         1
Master of Science, Chinese Academy of Sciences                                                                                       1
EMBA, Tsinghua University                                                                                                            1
Ph.D, Stanford University                                                                                                            1
Sloan School of Management/Master of Science, Massachusetts Institute of Technology                                                  1
Master of Arts, University of Saskatchewan                                                                                           1
Master of Science, Case Western Reserve University                                                                                   1
Master of Business Administration, Stanford Graduate School of Business/Master of Science, Massachusetts Institute of Technology     1
Master of Business Administration, Stanford University                                                                               1
Master of Arts/Science, Princeton University                                                                                         1
Bachelor of Arts/Science, University of Illinois, Urbana-Champaign                                                                   1
Master of Science, Rice University                                                                                                   1
Master of Business Administration, Samuel Curtis Johnson Graduate School of Management                                               1
Ph.D, Massachusetts Institute of Technology                                                                                          1
Doctor of Jurisprudence, Stanford University                                                                                         1
Master of Business Administration, Stanford Graduate School of Business/Doctor of Jurisprudence, Stanford University                 1
Master of Business Administration, Tsinghua University                                                                               1
Master of Science, University of California, Los Angeles                                                                             1
London School of Economics and Political Science                                                                                     1
Master of Arts, University of Pennsylvania                                                                                           1
Ph.D, University of Fribourg                                                                                                         1
Master of Business Administration, Red McCombs School of Business                                                                    1
Entrepreneurship, MIT Sloan School of Management                                                                                     1
Master of Arts, Yale University                                                                                                      1
Master of Business Administration, Tuck School of Business at Dartmouth                                                              1
Master of Science, Universite Paris Descartes                                                                                        1
Doctorate, Harvard University                                                                                                        1
Doctor of Jurisprudence, University of Virginia                                                                                      1
EMBA, China Europe International Business School                                                                                     1
Master of Science, National University of Singapore                                                                                  1
Doctor of Jurisprudence, Georgetown University                                                                                       1
Master of Arts, Fudan University                                                                                                     1
Master of Business Administration, INSEAD                                                                                            1
Doctor of Jurisprudence, University of San Diego School of Law                                                                       1
Bachelor of Arts/Science, Duke University                                                                                            1
Medical Doctor, University of Miami                                                                                                  1
Master of Business Administration, Fordham University                                                                                1
Medical Doctor, Stanford University; Ph.D, Stanford University                                                                       1
Master of Business Administration, Massachusetts Institute of Technology                                                             1
Master of Business Administration, Anderson School of Management                                                                     1
Master of Business Administration, MIT Sloan School of Management                                                                    1
Master of Science, University of Virginia                                                                                            1
Drop Out, Wharton School                                                                                                             1
Doctor of Jurisprudence, New York University                                                                                         1
Name: Master's, dtype: int64